{% extends "layout.html" %}

{% block main %}
<div class="container_new_book">
    <form id="edit-book-form" autocomplete="off" action="/new-book" method="post">
        <label class="labelEditBook" for="author">Author: *</label>
        <input class="form-control" type="text" name="author" id="author" placeholder="..." required="required" maxlength="666">
        <br>
        <label class="labelEditBook" for="title">Book title: *</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="..." required="required" maxlength="4805">
        <br>
        <p class="error_form" id="error_message"></p>
        <label class="labelEditBook" for="ISBN">ISBN: </label>
        <input class="form-control isbn" type="text" name="ISBN" id="isbn" placeholder="...">
        <br>
        <label class="labelEditBook" for="page_count">Page count: *</label>
        <input class="form-control" type="number" min="1" max="11000" name="page_count" id="page-count"
            placeholder="..." required="required">
        <br>
        <label class="labelEditBook" for="genre">Genre: </label>
        <p class="form-group" required="required">
            <select id="inputGenre" class="form-control" name="genre">
                <option selected disabled value="invalid">Select</option>
                <option>Adventure</option>
                <option>Children's</option>
                <option>Cooking</option>
                <option>Contemporary</option>
                <option>Fantasy</option>
                <option>History</option>
                <option>Historical fiction</option>
                <option>Horror</option>
                <option>Humor</option>
                <option>Memoir</option>
                <option>Mystery</option>
                <option>Motivational/Development/Self-help</option>
                <option>Romance</option>
                <option>Science fiction</option>
                <option>Thriller</option>
                <option>Travel</option>
                <option>Other</option>
            </select>
        </p>
        <br>
        <textarea class="form-control" type="text" name="notes" id="notes" placeholder="Notes..." maxlength="32768"></textarea>
        <br>
        <input class="form-check-input-book" type="checkbox" value="personal" id="belongingCheck" name="belongingCheck">
        <label class="form-check-label-book" for="belongingCheck">I own this book</label>
        <br>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="ClearFieldsTwo();">
                    Already read this book
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <label class="labelEditBookDate" for="start_date">Started</label>
                    <input class="form-control" type="date" name="start_date" id="start_date" placeholder="Started">
                    <br>
                    <label class="labelEditBookDate" for="finish_date">Finished</label>
                    <input class="form-control" type="date" name="finish_date" id="finish_date" placeholder="Finished">
                    <br>
                    <p id="my_rating">Rating
                    <div class="rating rating2">
                        <a id="5stars" class="star" title="Give 5 stars">★</a>
                        <a id="4stars" class="star" title="Give 4 stars">★</a>
                        <a id="3stars" class="star" title="Give 3 stars">★</a>
                        <a id="2stars" class="star" title="Give 2 stars">★</a>
                        <a id="1stars" class="star" title="Give 1 star">★</a>
                    </div>
                    <input id="ratings" type="hidden" name="ratings" value=""/>
                    </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button type="button" class="btn collapsed btn-light" id="btnTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="ClearFieldsOne();">
                    Reading this book right now
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <label class="labelEditBookDate" for="start_date">Started</label>
                    <input class="form-control" type="date" name="dateReadingNow" id="dateReadingNow" placeholder="Started" value="">
                </div>
              </div>
            </div>
          </div>
        <br>
        <button type="submit" class="btn btn-light" id="input">Save</button>
    </form>
</div>
{% endblock %}